// Global component styles

html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

a {
  &:focus {
    outline: none;
  }
}

// Main page wrapper
#wrapper {
  display: flex;
  #content-wrapper {
    position: fixed;
    right: 0;
    background-color: $gray-100;
    overflow-x: hidden;
    #content {
      flex: 1 0 auto;    
      height: 100vh;
      overflow-y: auto;
      overflow-x: hidden;
      &::-webkit-scrollbar {width: 10px;}
      &::-webkit-scrollbar-track {background: $gray-200;}
      &::-webkit-scrollbar-thumb {background: fade-out($primary, 0.3);}
      &::-webkit-scrollbar-thumb:hover {background: $primary;}
    }
  }
}

// Set container padding to match gutter width instead of default 15px
.container,
.container-fluid {
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
}
